.block {
    margin: 300px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.block:first-of-type {
    margin-top: 75px;
}

@media screen and (max-width: 1279px) {
    .block {
        margin-top: 250px;
    }
    
    .block:first-of-type {
        margin-top: 50px;
    }
}