.block__subheading {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

@media screen and (max-width: 1279px) {
    .block__subheading {
        font-size: 23px;
        line-height: 28px;
    }
}