.footer__link {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    transition: color 0.5s ease;
}

.footer__link:nth-of-type(2) {
    margin-top: 25px;
}
.footer__link:hover {
    color: #0085FF;
}