.footer__logo {
    position: absolute;
    top: 55px;
    left: -125px;
    display: inline-block;
}

@media screen and (max-width: 1279px) {
    .footer__logo {
        position: static;
        margin-right: 40px;
    }
}